.navbar-bg {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  position: absolute;
  margin-left: 20px;
  position: fixed;
  z-index: 100;
}
.logo-background {
  width: 100px;
  height: 34px;
  left: 24px;
  top: 18px;
  background-color: #cfd4ed;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
  position: fixed;
  margin-right: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 123px;
}
.navbar-right {
  display: flex;
  margin-right: 120px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.search-container input {
  border: none;
  width: 124px;
  outline: none;
  margin-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.button-container {
  display: flex;
  align-items: center;
}
.button-container button {
  height: 100%;
  border: 1px solid #0d28a6;
  background-color: white;
  color: #0d28a6;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding-left: 12px;
  padding-right: 12px;
}
.profile-container {
  display: flex;
  margin-left: 24px;
}
.profile-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #cfd4ed;
}
.profile-logo p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
}
.name-logo {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 24px;
}
.dropdown-menu-logout {
  display: flex;
  align-items: center;
  justify-content: center;
}
